# Python
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/

# Ambientes virtuais
.venv/
venv/
env/

# Streamlit secrets locais
.streamlit/secrets.toml

# IDE / SO
.vscode/
.idea/
.DS_Store
Thumbs.db

# Variáveis e arquivos locais
.env
*.log
